<app-navbar></app-navbar>
<div class="home">
  <div class="textcontent">
    <h1>Great coffee made simple.</h1>
    <p>
      Start your mornings with the world's best cofee. Try our expertly curated
      artisan coffees from our best roasters delivered directly to your door, at
      your scheddule.
    </p>
    <button><a href="">Create your plan</a></button>
  </div>
</div>
<div id="about" class="about">
  <div class="cardcontainer">
    <div class="card1 cardc">
      <h3>Gran expresso</h3>
      <p>
        Discover an endless variety of the world's best coffee from each of our
        roasters.
      </p>
    </div>
    <div class="card2 cardc">
      <h3>Gran expresso</h3>
      <p>
        Discover an endless variety of the world's best coffee from each of our
        roasters.
      </p>
    </div>

    <div class="card3 cardc">
      <h3>Gran expresso</h3>
      <p>
        Discover an endless variety of the world's best coffee from each of our
        roasters.
      </p>
    </div>
  </div>
</div>
<div id="why" class="why">
  <div class="div1">
    <h2>Why choose us?</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita dolores
      cumque impedit vitae libero atque quia necessitatibus facere blanditiis
      placeat porro laudantium sequi, veniam similique sapiente facilis ratione
      assumenda ut.
    </p>
  </div>
  <div class="cardcontainer">
    <div class="card1 cardc">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 640 512"
      >
        <path
          d="M96 64c0-17.7 14.3-32 32-32H448h64c70.7 0 128 57.3 128 128s-57.3 128-128 128H480c0 53-43 96-96 96H192c-53 0-96-43-96-96V64zM480 224h32c35.3 0 64-28.7 64-64s-28.7-64-64-64H480V224zM32 416H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
        />
      </svg>
      <h3>Best Qauality</h3>
      <p>
        Discover an endless variety of the world's best coffee from each of our
        roasters.
      </p>
    </div>
    <div class="card2 cardc">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 640 512"
      >
        <path
          d="M96 64c0-17.7 14.3-32 32-32H448h64c70.7 0 128 57.3 128 128s-57.3 128-128 128H480c0 53-43 96-96 96H192c-53 0-96-43-96-96V64zM480 224h32c35.3 0 64-28.7 64-64s-28.7-64-64-64H480V224zM32 416H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
        />
      </svg>
      <h3>Best Qauality</h3>
      <p>
        Discover an endless variety of the world's best coffee from each of our
        roasters.
      </p>
    </div>
    <div class="card3 cardc">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="1em"
        viewBox="0 0 640 512"
      >
        <path
          d="M96 64c0-17.7 14.3-32 32-32H448h64c70.7 0 128 57.3 128 128s-57.3 128-128 128H480c0 53-43 96-96 96H192c-53 0-96-43-96-96V64zM480 224h32c35.3 0 64-28.7 64-64s-28.7-64-64-64H480V224zM32 416H544c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32z"
        />
      </svg>
      <h3>Best Qauality</h3>
      <p>
        Discover an endless variety of the world's best coffee from each of our
        roasters.
      </p>
    </div>
  </div>
</div>
<div id="plan" class="plan">
  <div>
    <p style="color: #747272; font-weight: 800; font-size: 1.3rem; margin-top: 60px;">How it works</p>
    <div class="plancardcontainer">
      <div class="card1 cardc">
        <h3>01</h3>
        <h2>Pick your coffee</h2>
        <p>
          Select from our eveolving range of artisian coffee. Our beans are
          ethically sourced and we pay fair price for them. There are new coffe
          in our page evry month for you to try out.
        </p>
      </div>
      <div class="card2 cardc">
        <h3>02</h3>
        <h2>Pick your coffee</h2>
        <p>
          Select from our eveolving range of artisian coffee. Our beans are
          ethically sourced and we pay fair price for them. There are new coffe
          in our page evry month for you to try out.
        </p>
      </div>
      <div class="card3 cardc">
        <h3>03</h3>
        <h2>Pick your coffee</h2>
        <p>
          Select from our eveolving range of artisian coffee. Our beans are
          ethically sourced and we pay fair price for them. There are new coffe
          in our page evry month for you to try out.
        </p>
      </div>
    </div>
    <button>Create your Plan</button>
  </div>
</div>
<app-footer></app-footer>
