.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  background-color: #15191f;
  color: white;
}
.footer p {
  font-size: 1.2rem;
  font-weight: 700;
}
.images {
  display: flex;
  align-items: center;
}
.images svg {
  margin: 0 15px;
  font-size: 2rem;
}
