/* You can add global styles to this file, and also import other style files */
:root{
    --blue:#002248;
    --green:#5BD7B6;
    --family:'Great Vibes', cursive;
    --lightgreen:#F2F6FF;
    --grey:#EAEAEA;
}